.dv-player-fullscreen.clink-show {
  width: calc(100% - 300px) !important;
}

.dv-player-fullscreen {
  transition: width 0.5s ease;
}

#clink-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 9999;

  visibility: hidden;

  transition: visibility 0.5s, width 0.5s ease;
  background: #222222;
  
  color: #c8a6b5;
  font-size: small;
}

#clink-container.clink-show {
  width: 300px;
  visibility: visible;
}

.clink-chat {
  background: #121212;
  border-radius: 8px;
  height: 100%;
}

.text-accent {
  color: #ff6978 !important;
}

.text-accent-bright {
  color: #c8a6b5 !important;
}

.avatar-img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.avatar-selection input[type="radio"] {
  display: none;
}

.avatar-selection label {
  opacity: 0.6;
}

.avatar-selection label:hover {
  opacity: 0.8;
}

.avatar-selection :checked + label {
    opacity: 1;
}